<form action="cadastro_postagens">
    <p for="titulo">Título</p>
    <input type="text" name="titulo">

    <p for="counteudo">Counteúdo</p>
    <textarea name="counteudo"></textarea>

    <button type="submit">Cadastrar</button>
</form>